include ../image
include ../video

mixin Billboards()
  .outer
    p So I’m back in the lab. Emailing away. Managers, ex-managers, stylists, PR relations, anyone who has ever worked for YEEZY on Linkedin. But nothing. No replies. I can’t get through.
    p I ask my Dad for advice. “You’ve got to think on a bigger scale son”, he tells me. So now I’m thinking what if I make a video, or a mixtape, or a magazine or a painting, or I rent a plane and fly a banner. Then it hits me. I’m going to rent Billboards. YEEZY is opening offices in Calabasas, New York, London, Wyoming. Four locations. Four billboards.
    p Ten minutes later I’m on the phone with Billboard companies. Quizzing them. What’s your pricing like? What type of Billboard would you recommend? How quickly can we do this? What’s the shortest time each Billboard can stay up for? And in my head, I can see the billboards in the sky.
    +image("table", "Billboard Table", "normalWidth")
    p But I wake up the next day with cold feet. Two halves of my mind in deep discussion:
    .speech.speech__one "Two months wages. On three billboards. You’re crazy."
    .speech “Don’t use money as an excuse. You know that’s not the reason.”
    .speech “Why don’t I want to do it then?”
    .speech “Cause you’re scared. Your afraid of what people might think.”
    .speech “But …”
    .speech.speech__two “No, don't give me no buts. Relax your mind. You're not going to let the mob control you. This is happening.”
    p So I draft my Dad onto the campaign team and it starts to come together. He’s in his element. We take over my brother's bedroom and set up basecamp. Dad buys three alarm clocks, sets one to New York time, one to LA time and one to Wyoming time. “You’ve got to know your timezone, son,” he tells me.
    p The sun goes down once more and now it's the day of the Billboards. I'm working like an Octopus, organising photographers, drafting  emails, teeing up interviews and everything starts coming together. London. New York. Wyoming. All confirmed. There’s less than an hour to go, and suddenly WACK. 8:11 pm an email drops into my inbox from Lamar, the Billboard provider, and my head spins like I’ve been hit by Wilder's right hand.
    +image("lamar", "Lamar Cancel", "normalWidth")
    p Lamar's supposed to be covering both New York and Wyoming. Without them, I’m left with just one Billboard in London and that’s not enough. I’m calling this whole thing off. The game’s up. It’s over. I’m safe again. Life’s comfortable. No billboards. No problems.
    p I walk downstairs to show Dad the email. He looks up at me, smiles like it’s nothing, and says “Don’t worry. We’ll find a way”. And maybe that’s why you need a team because in that moment I wanted an excuse to give up but the old man wasn’t blinking so we fought on.
    p Phone calls start flying everywhere. On one phone I’m hammering the account manager. On the other Dad’s posing as a BBC journalist, throwing jab after jab at their legal department, “The kid spent two days clearing this with intellectual property lawyers”, “We’ve got a camera crew waiting outside Times Square as we speak”.
    p It’s 9 pm now. A wonderful soul called
      a.link(href="https://www.instagram.com/inkless.photography/" target="_blank" className="link") &nbsp;Candice
      | &nbsp;is waiting in the New York rain eyes glued to the Billboard ready to take the photo, but she isn’t going to wait all day.
    p Suddenly Dad’s beckoning me over. If we change, “Kanye West” for “Mr. West” the legal department will approve it. My gut tells me it’s good enough. I export the new text and send to the account manager in Times Square. 5 minutes the Billboards are live. Candice takes the photo. It appears in my inbox. And I take a deep breath.
    +image("bamn1", "Times Square", "normalWidth bamn1", "jpg")
    p Soon after, the Wyoming and London Billboard’s go up. I start attaching the photos to the drafts we prepped, sending out our emails, hoping to get lucky again.
    p A couple of stories start breaking, journalists start requesting interviews and back down into the depths of the Maelström we descend. The phone rings and rings and it could be anyone on the line. I’m wished luck, sold insurance, thrown onto live radio, taunted by youths, offered jobs, reunited with old school friends.
    //- +image("bamn3", "Wyoming", "normalWidth bamn3", "jpg")
    //- +image("bamn2", "London", "normalWidth bamn2", "jpg")
    +video("drewandmike", "damPoster.jpg")
    p I check twitter. Kanye's name is trending. My heart jumps. Surely not. Have I made it? I click. My heart sinks. “Kanye West has just said 400 years of slavery sounds like a choice”. And from there on in I’m dead in the water. A tadpole in a shark tank. The media is at Kanye saturation. Journalists have bigger fish to fry and my little story is left on the shelf.
    p Ok, one last try. I track down Yeezy Headquarters on Google Maps, find the phone number of some offices nearby and start dialing. I start telling this receptionist about the dating site, about the Billboards, and I can’t believe it but she’s actually listening to me.
    .speech.speech__one “Funnily enough my best friend A***** works at Yeezy”
    .speech “If I send you an email could you forward it on?”
    .speech.speech__two “Sure”
    p And that's that. Now I can go to bed, wake up the next day and get on with my life.
    p.weeksLater *&nbsp;&nbsp;*&nbsp;&nbsp;*
    p A few weeks pass and, lo and behold, an email from A****** drops into my inbox.
    +image("closer", "Email", "normalWidth closerIMG")
    p And a few hours later someone sends me a screenshot from Kanye's office chat.
    +image("iMessage2", "iMessage", "normalWidth specImg60")
    p After all my efforts emailing journalists, practicing for radio interviews, writing press releases, retouching images, all it took was a simple phone call to the company whose office was next door.