include ../image
include ../video

mixin Coding()
  .outer
    p I wake up and head straight to the lab. It’s time to build a dating site. First things first I scout other dating sites looking for something I can copy. The whole Tinder / Bumble swiping thing is too complex. I find a Jewish Dating site called J Date which looks promising. All user profiles are displaying on one long infinite scroll page. A few months earlier I did Wes Bos’ “Learn Node” course where he does a similar thing with restaurants. I start merging J Date with some lessons from Wes’ course and I'm up and running.
    +image("wesbos", "Connecting Things", "fullWidth")
    p At this point there isn’t much too tell you. There’s no secret ingredient. No magic pill. Just long days in the lab laying bricks. 10 months ago I hadn’t wrote a line of code before and it was too hard. One week into Yeezy Dating it’s still too hard. Webpack is fucking me and I don’t know how to save geoJSON data. Boo-hoo. Nobody cares. I don’t care. Find a way. Figure it out. Everyone else figured it out.
    +image("todos1", "Connecting Things", "normalWidth", "jpg")
    p I write I AM HARRY DRY on a sheet of paper, buy some blu tack and pin it to my wall. Every time I doubt myself I look at the words and snarl. No buddy buddy shit. I’m coding like Diego Costa plays football. No technique. No Barcelona academy. Rampaging from obstacle to obstacle.
      span.italic &nbspBarcelona academy
      |. Charging from obstacle to obstacle.
    +video("diego", "degoposter.png")
    p I'm coding like the apocalypse is coming down. It’s armageddon. Problem after Problem. Forum after forum. I'm the most hatest man on Stack Overflow. And I'm not going anywhere.
    +image("false", "Coding Questions", "fullWidth")
