include ../image

mixin End()
  .outer
    p And that’s how we got to now. It’s 9:52 pm, Thursday 24th May. In ten minutes time, I’ll be on the phone with the CFO of Kanye West’s Billion Dollar company.
    p I remember sitting round with my uni housemates last year talking about what the future would hold for all of us. They were all saying, “I’m applying for a finance job” or “I’ll do a masters ”, stuff like that. And it came to me and I said, “I’m going to travel to Nazareth, learn to code, come back to England, finish my book, learn about business and start my own stuff.”
    p They were used to my spiel now and started groaning, “None of this shit's going to happen Dry. The real world’s going to chop you up and spit you out. You're going to be stuck in the rat race, clocking in, clocking off, packed onto the tube, just like all of us.”
    p I smiled. “Tell me that again”. So they did. “Reality is going to grind you down. You’re going to be clock watching, Monday to Friday. There’s nothing you can do about it. And you know it.”
    p “Tell me that that one more time”, I said. So they did. And I smiled even more.
    p I’m not saying I’ve done anything yet cause I haven’t. But at least I've stuck to my word. I've tried and given it a go.
    //- p.weeksLater *&nbsp;&nbsp;*&nbsp;&nbsp;*
    //- p There’s this guy called Naval Ravikant and whenever he gets asked, “What is your number one repeated life lesson?” he always says:
    //- .inwardSpeech.inwardSpeech__naval There are no adults. Everyone's making it up as they go along. So figure it out yourself, and do it — Naval Ravikant
    //- p And that kind of summarises my whole experience. I had absolutely no idea what I was doing. But you don’t have to.
