include ../image

mixin End()
  .outer
    p And that’s how we got to now. It’s 9:52pm, Thursday 24th May. In less than ten minutes time I’ll be on a conference call with the CFO of Kanye West’s Billion Dollar company.
    p I guess this is it. 2 months have flown by and we’ve reached the end of the movie. I’ve got just one last thing to say.
    p There’s this guy called Naval Ravikant and whenever he gets asked, “What is your number one repeated life lesson” he always says,
    .speech.speech__one “There Are No Adults. Everyone's making it up as they go along. So figure it out yourself, and do it.”
    p And for me that kind of summarises the whole experience. At no point did I have any idea what I was doing. But you don’t have to. Thanks for reading.