include ../image

mixin End()
  .outer
    p And that’s how we got to now. It’s 9:52pm, Thursday 24th May. I’ve booked a meeting room on 160 Brick Lane. In less than ten minutes time I’ll be on a conference call with the CFO of Kanye West’s Billion Dollar company. Pages of notes are strewn out across the desk. I’m feeling calm but energised. I rehearsed the call with my Dad the night before. I know what I’m saying.
    p So I guess this is it. 2 months have flown by and we’ve reached the end of the movie. Maybe the next 30 minutes changes my life. Maybe they fly me to Calabasas and I get a chance to present my vision. Or maybe they don’t. And this is where the story ends.
    p In truth it doesn’t matter.
    p Two months ago, I was at the bottom of the mountain. I looked up and at the very top I saw all the tools for life. “If I get to the top, then I’ve done it”, I thought. “Then I’ve got the tools to win at life.” So I started climbing and in order to climb up I started collecting tools and stuff along the way. And now, I’ve made it to the top and I’ve got so many new tools that I don’t even need the tools at the top any more.