include ../image

mixin Flashback()
  .outer
    p Flashback eight months to my first ever gig as an Indie Maker. A friend and I started a company selling canvas prints. It's the familiar novice story:
    li 1) Spend months in a hole perfecting and perfecting a website
    li 2) Never speak to any potential customers
    li 3) Never check to see if anyone actually wants the product
    li 4) Realise you have no idea who your customer is
    li 5) Realise you aren't solving any real problems
    li 6) Remember this moment. Remember the time you got it all wrong and no one bought your product. Because it won't always be like this
    +image("140canvas", "140 Canvas", "fullWidth")
    p So, what went wrong? Well, Marc Kholbrugge summarised the problem with my approach far better than I ever could.
    +image("marck", "WIP Chat", "fullWidth")
    p It sounds so simple when you read it but nearly every Indie Maker makes this mistake. This time around it’s going to be different. I'm starting to learn. The old me would have build a whole dating site, crossed my fingers and hoped. But the new me is sharper, more thoughtful. I need to figure out if there's demand for this thing. and then I'll make it. I need to test the waters first.