include ../image

mixin Flashback()
  .outer
    p Flashback eight months to my first proper entrepreneur gig. One of my best friends bought me a huge canvas tweet from Roger Federer wishing me a happy birthday. I thought it was cool gift so we made a website and started selling these fake tweets as canvas prints. And yeah, it’s the familiar story.
    li 1) Spend months in a hole perfecting a website
    li 2) Never speak to any potential customers
    li 3) Never check to see if anyone actually wants the product
    li 4) Realise you have no idea who your customer is
    li 5) Realise you aren't solving any real problems
    li 6) Sell a few canvas’
    li 7) Call it a day
    +image("140canvas", "140 Canvas", "normalWidth")
    p What went wrong? Well, Marc Kohlbrugge set me straight!
    +image("mk", "WIP Chat", "fullWidth marcIMG")