include ../image

mixin Idea()
  .outer
    p It’s Friday night, 1 am. I’m lying in bed scrolling twitter. Reading the usual shit. Getting my dopamine fix. “The Backstreet boys are back with a brand new sound”. Yeah, whatever. I read another headline. Then another. Then another. “There’s a dating site for straight Trump supporters”. The mob’s getting angry. As you’d imagine the media are loving it. It’s the perfect fodder to pump to the masses.
    +image("trumpDating", "Trump Flaking", "normalWidth", "jpg")
    p But forget Donald Trump. There something here. Free audience. Free attention. Embrace the controversy. Elon Musk sold flamethrowers and made a million. Supreme sold bricks and made a million. Kanye wore the MAGA hat and sold a million. You’ve got to think like the little kid who hasn’t had his imagination beaten out of him. You’ve got to be willing to try things that the suits haven’t got the balls to pull off. Companies splash thousands on “growth hacking” goon squads but having one mind like Bart Simpson on your team is more valuable.
    +image("bart1", "Tesla Flamethrower", "normalWidth", "png", "specImg75")
    p I jump out of bed and start writing ideas. Dating is a good starting spot. It’s funny and simple. Now I just need something controversial. Brexit Dating, Harry Potter Dating, Kanye West Dating. Yes Kanye West, I’m a fan. I know the audience. How about — KanyeWestDating.com. Doesn't pop. Maybe Yeezy.Dating. Bingo! Add to Basket. Buy Domain.