include ../image

mixin Idea()
  .outer
    p It’s 1am. I’m lying in bed scrolling twitter. Reading the usual mindless shit. Getting my dopamine fix. “The Backstreet boys are back with a brand new sound.” I don’t care but I keep on scrolling.
    p I read another headline. Then another. Then another. “There’s a dating site for straight Trump supporters”. Everyone’s on twitter’s getting angry. The media are loving it. It’s the perfect fodder to pump to the masses. It’s simple, it’s controversial, it’s crazy.
    +image("trumpdating", "Trump Flaking", "normalWidth")
    p I click on the website. It reminds me of the internet back in 05. But forget the website. Forget Donald Trump. There something here. Connect the dots. Elon Musk sold flamethrowers and made a million. Supreme sold bricks and made a million. Kanye wore the MAGA hat and sold a million. Good marketing is about doing things the suit wearers haven’t got the balls to pull off. You’ve got to think like Bart Simpson.
    +image("bart1", "Tesla Flamethrower", "normalWidth")
    p Companies splash thousands on “growth hacking” goon squads but having one Bart Simpson on your team is more valuable. I jump out of bed and start scribbling ideas. Dating is a good starting spot. Dating is funny and simple. The media love it. I just need something controversial. Brexit is controversial. Brexit Dating. But I don’t care about Brexit. I need passion.Think other viral stuff. Communism. 4 Chan. Harry Potter. Kanye West. Yes Kanye West, I’m a mega fan. I know the audience. This can work. How about — KanyeWestDating.com . Nope. Doesn’t pop. Maybe Yeezy.Dating. Nice! Add to Basket. Buy Domain. Sorted.