include ../image

mixin Idea()
  .outer
    p It’s 1am. I’m lying in bed scrolling twitter. Reading the usual mindless shit. Getting my dopamine fix. “The Backstreet boys are back with a brand new sound.” I don’t care but I keep on scrolling.
    p I read another headline. Then another. Then another. “There’s a dating site for straight Trump supporters”. Everyone’s on twitter’s getting angry. The media are loving it. It’s the perfect fodder to pump to the masses. It’s simple, it’s controversial, it’s crazy.
    +image("trumpdating", "Trump Flaking", "normalWidth")
    p I click on the website. It reminds me of the internet back in 05. But forget the website. Forget Donald Trump. There something here. Connect the dots. Elon Musk sold flamethrowers and made a million. Supreme sold bricks and made a million. Kanye wore the MAGA hat and sold a million. Good marketing is about doing things the suit wearers haven’t got the balls to pull off. It's about thinking like a little kid who’s imagination hasn’t been beaten out of him.
    p I click on the website. It reminds me of the internet back in 05. But forget the website. Forget Donald Trump. There something here. Connect the dots. Elon Musk sold flamethrowers and made a million. Supreme sold bricks and made a million. Kanye wore the MAGA hat and sold a million. Good marketing is about doing things the suit wearers haven’t got the balls to pull off. It's about thinking like a little kid who’s imagination hasn’t been beaten out of him.
    +image("teslasupreme", "Tesla Flamethrower", "fullWidth")
    p You’ve go to become Bart Simpson. Companies splash hundreds of thousands on growth hacking goons but you can just sideswipe all that shit if you just use your imagination. I jump out of bed and start scribbling ideas. Dating is a good starting spot. Dating is funny and simple. The media love it. I just need something controversial. Brexit is controversial. Brexit Dating. I open goDaddy and search. BrexitDating.com. Already taken. What about Brexit.Dating. £9.99. Add to Basket. But I don’t care about Brexit. There’s no passion. I need a
      span.italic  WHY.
      | Think other viral stuff. Communism. 4 Chan. Harry Potter. Kanye West. Yes Kanye West. I’m a fan. I know the audience. This can work. Yeezy.Dating. Add to Basket. Buy Domain. Sorted.