include ../image
include ../video

mixin Launch()
  .outer
    p 22 days fly by and it’s April 11. I’m a couple of weeks late, but that’s ok. Today is the day. I fix the final bug from the lab at 3pm and post on Instagram to build some hype.
    p The Telegram chat, still has a buzz about it. Several hundred messages a day. They’re like my army of ultra fans. My plan is to launch with them first to test the site works. I’m back at home, dotting I’s crossing T’s. Suddenly I have 10 mentions in Telegram. The ultras have found the site and have started making profiles.
    +image("launch", "Launch", "normalWidth")
    p 10 profiles are up. Now 20. Now 30. Shit. It’s happening. Beautiful profile photos appearing up on my screen. Real people are on the site. Real people are matching each other. Real people are messaging. It’s working. And I made all of this! Hahah. Look at me go.I post on Instagram saying that Yeezy.Dating is open for business. Suddenly 200 people flood to the site.
    p Legend says that the fisherman on shore only sees a tsunami a couple of seconds before it hits. Capow! Left, right, center, profile images are disappearing. 5 pictures vanishing every second. I refresh the page, images disappearing everywhere. We’re sinking like the Mary Rose. Time slows down. Panic takes over. I can’t think straight. 3 minutes later the site is stripped bare. 250 profiles. No images. I load up Heroku. 6,700 critical errors. My Dad potters in from the kitchen to see how the big launch is going. Not great I tell him.
    +video("federer", "federerPoster.png")
    p I woke up Steve Jobs. I'm ending the day Steve Harvey. The sites properly crashed now. I’m trying to put out fires everywhere but nothing’s working. I can’t do this anymore. I apologise to my followers on Instagram, I apologise to the ultras on Telegram and fall into bed.
    +image("apologies", "Apologies", "normalWidth")