include ../image
include ../video

mixin Launch()
  .outer
    p And then I wake up one fine spring morning and it’s all done. I’m a couple of weeks late, but that’s ok. I fix the final bug from the lab at 3 pm and post on Instagram to build some hype.
    p Then I cycle to town and walk into Vodafone. I tell the store manager I’m “just browsing” whilst I test the site on all their different devices. iPhone’s are zooming in on my input fields and it’s breaking my CSS. Fuck. I pitch up in Starbucks next door, grab a croissant, and start googling. Turns out my font size needs to be 16px on iOS to the stop auto zoom. I head back into Vodafone, “more browsing” I tell the store manager, and the problems solved. Happy Days.
    p The Yeezy Dating group chat still has a buzz about it. Several hundred messages a day. They’re like my army of ultra fans. My plan is to launch with them first to test the site works. I’m back at home, dotting i's crossing t’s. Suddenly I have 10 mentions in Telegram. The ultras have found the site and have started making profiles.
    +image("launch1", "Launch", "normalWidth")
    p 10 profiles are up. Now 20. Now 30. Shit. It’s happening. Beautiful profile photos appearing up on my screen. Real people are on the site. Real people are matching each other. Real people are messaging. It’s working. And I made all of this! Hahaha. Look at me go. I post on Instagram saying that Yeezy.Dating is open for business. Suddenly 200 people flood to the site.
    p Now, legend says that the fisherman on shore only sees a tsunami a couple of seconds before it hits.
    p Capow! Left, right, center, profile images start disappearing. 5 pictures vanishing every second. I refresh the page, images disappearing everywhere. Time slows down. I can’t think straight. 3 minutes later the site is stripped bare. 350 profiles. No images. I load up Heroku. 6,700 critical errors. Dad potters in from the kitchen to see how the big launch is going. Not great I tell him.
    +video("federer", "federerPoster.png")
    p I woke up Steve Jobs. I'm ending the day Steve Harvey. The site's properly crashed now. I’m trying to put out fires everywhere but nothing’s working. I can’t do this anymore. I apologise to my followers on Instagram, I apologise to the ultras on Telegram, and I fall into bed.
    //- +image("apologies", "Apologies", "normalWidth")