include ../image

mixin Reborn()
  .outer
    p Next day I wake up and do nothing. Eat some cereal. Watch some Peep Show. I’m still at a low ebb. I manage to write a post on the Indie Hackers forum explaining the site crashing and what went wrong with the images.
    //- +image("forums1", "Forum Posts", "normalWidth")
    p Quite remarkably developers start giving me their email address, offering me help. I’m blown away by their generosity. Within 24 hours there are five pro developers from
      a.link(href="https://www.crowdform.co.uk" target="_blank" className="link") &nbsp;Crowdform Digital Agency
      | &nbsp;digging through my code. Several changes later they give it the all clear. “Good luck”, their lead dev texts me from Singapore.
    //- +image("help", "Help", "normalWidth")
    p A few days later Yeezy.Dating launches again. The feeling is different this time. The first time it felt like the biggest thing in my universe. This time around I’ve got perspective. There a bigger things in life. If it crashes, it crashes.
    +image("live", "Emails", "normalWidth")
    p Testing with the ultras goes well so I start emailing my big list. 1,500 users join within 10 hours. 2,500 within 24 hours. Then 4,200. But growth is slowing. My intuition is telling me that the parties going to end soon. Where’s the next 4,000 coming from?
    p There’s no marketing budget, no development team, it’s just me. Replying to all the emails, fixing all the bugs, trying to keep the momentum up and I’m tired. We need an app. I’m not an app developer. We need ten thousand users for dating to work. I don't know how to get ten thousand more users. The novelty is starting to wear off. I’m thinking 5 moves ahead and I can see cheque mate on the horizon.
    p There’s only one way out the water tank. I've got to get Kanye West involved.