include ../image

mixin Reborn()
  .outer
    p Next day I wake up and do nothing. Eat some cereal. Play some tennis. Watch some Peep Show. I’m still at a low ebb. I manage to write a post on a few forums explaining the site crashing and what went wrong with the images.
    +image("forums1", "Forum Posts", "normalWidth")
    p Quite remarkably developers start giving me their email address, offering me help. I’m blown away by their generosity. Within 24 hours there’s five pro devs and me digging through my code working on it together. Several changes later they give it the all clear. “Good luck”, one texts me from Singapore.
    +image("help", "Help", "normalWidth")
    p A few days later Yeezy.Dating launches again. The feeling is different this time. The first time it felt like the biggest thing in the universe. This time around I’ve got perspective. There a bigger things in life. If it crashes. It crashes.
    p Testing with the ultras goes well so I start emailing my big list.
    +image("launchemail", "Emails", "normalWidth")
    p Testing with the ultras goes well so I start emailing my big list. 1500 users join within 10 hours. 2500 within 24 hours. The next day I’m emailing press again. The day after that I’m fixing bugs. Then The day after that I’m replying to emails. People are requesting a bisexual option for gender preferences so I bosh that out and move on. I’m up to 4100 users now but growth is slowing. My intuition is telling me that the parties going to end soon. Where’s the next 4000 coming from?
    p There’s no marketing budget, no development team, it’s just me. Replying to all the emails, fixing all the bugs, trying to keep momentum up and I’m burnt out. We need an app. I’m not an app developer. We need ten thousand users for dating to work. I haven’t got the resources to get ten thousand users. Existing users are losing interest faster than new ones are joining. I can see cheque mate in the distance. Suddenly it hits me. There’s only one magic trick which can get me out the water tank. I’ve got to get Kanye West involved.