include ../image

mixin Reborn()
  .outer
    p It’s the morning after the night before and I’m doing nothing. I wake up late. Make a fruit smoothie. Play some tennis. Watch some Peep Show. Rest and recovery. Next day I’m back in the lab. I don’t know where to start so I fire off some "HELP!!!" posts on different forums.
    +image("forums1", "Forum Posts", "normalWidth")
    p Replies start flooding in. And I get back to work. Powering through my final todo list.
    +image("finaltodos", "Help", "normalWidth")
    p Developers start dropping their email address, offering me more help. I’m blown away by their generosity. Within 24 hours there’s five pro devs digging through my code. Several tweaks later they give it the all clear. “Good luck kid”, one tells me from Singapore.
    +image("help", "Help", "normalWidth")
    p A few days later Yeezy.Dating launches again. The feeling is different this time. The first time it felt like the biggest thing in my universe. This time around I’ve got perspective. There a bigger things in life. If it crashes. It crashes.
    p Testing with the ultras goes well so I start emailing. I don’t want to blast my email list of 12k in one go and overload the site again so I divide my one big email list into 7 smaller lists and start sending out my “launch” emails in batches.
    +image("launchemail", "Emails", "normalWidth")
    p 1500 users join within 10 hours. 2500 within 24 hours. The next day I’m working the press. The day after that I’m fixing bugs. The day after that I’m replying to emails. People are requesting a bisexual option for gender preferences so I bosh that out and move on. I’m up to 3700 users now but growth is slowing. My intuition is telling me that the parties going to end soon. Where’s the next 1000 users coming from?
    p There’s no marketing budget, no development team, it’s just me. Replying to all the emails, fixing all the bugs, trying to keep momentum up and I’m burnt out. We need an app. I’m not an app developer. We need ten thousand users for dating to work. I haven’t got the resources to get ten thousand users. Existing users are losing interest faster than new ones are joining. I’m thinking 10 moves ahead and I can see cheque mate in the distance. I’m lying back in bed, my mind whirling and I realise there’s only ome magic trick which can get me out the water tank. I’ve got to get Kanye West involved.