include mixins/header

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.css')
    title Please Someone Build
    body
      +header()
      block content
  block scripts
    script(src="/dist/bundle.js")

      