include mixins/_initialVideo
include mixins/_fixedSection
include mixins/_soundcloudSingle
include mixins/_soundcloudAlbum
include mixins/_iTunesAlbum
include mixins/_youTubeVideo
include mixins/_footer

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.css')
    title Ted Addic
  body
    .wrapper
      +initialVideo('tzTrYlv9tfA')
      +fixedSection('https://twitter.com/TedAddic_CL', 'twitter', 'https://itunes.apple.com/au/artist/ted-addic/id1109506158', 'apple', 'https://soundcloud.com/tedaddic', 'soundcloud')
      .p2Container
        h1.demoArtist Ted Addic      
        +soundcloudSingle('357090824', 'Rappy', 'Mongo')
        +soundcloudAlbum('https://i1.sndcdn.com/artworks-000232112711-owimsi-t500x500.jpg','335567573', 'Rappy', 'Mongo')    
        +iTunesAlbum('https://tools.applemusic.com/embed/v1/album/1260474721?country=us', 'Rappy', 'Mongo')
        +youTubeVideo('UGBJIGxNr2k', 'Rappy', 'Mongo')
      +footer('Ted Addic', 'TedAddic@gmail.com')          
    block scripts
      script(src="/dist/bundle.js")

      