extends main
include mixins/divider
include mixins/LeftMenu
include mixins/mobileMenu
include mixins/endPlug

include mixins/Chapters/Idea
include mixins/Chapters/Flashback
include mixins/Chapters/Viral
include mixins/Chapters/Coding
include mixins/Chapters/Launch
include mixins/Chapters/Reborn
include mixins/Chapters/Billboards
include mixins/Chapters/End

block content
  +LeftMenu(true)
  +mobileMenu
  .fresh
    img.fresh__img1(src="https://s3.amazonaws.com/harrydry/ye.jpg", alt="The Kanye Story: By Harry Dry")
    img.fresh__img2(src="https://s3.amazonaws.com/harrydry/harry1.png", alt="Harry 1")
    img.fresh__img1Mob(src="https://s3.amazonaws.com/harrydry/harryMob1.png", alt="Harry 3")
    img.fresh__img2Mob(src="https://s3.amazonaws.com/harrydry/harryMob2.png", alt="Harry 3")
    img.fresh__img3Mob(src="https://s3.amazonaws.com/harrydry/harryMob3.png", alt="Harry 3")
  +divider("01", "Idea", "https://media.giphy.com/media/13CpNvngepYIg0/giphy.mp4", false, true)
  +Idea
  //- +divider("02", "Flashback", "https://media.giphy.com/media/1yPE9N5AcK71m/giphy.mp4")
  //- +Flashback
  +divider("02", "Viral", "https://media.giphy.com/media/pLa7P3GXAfFZK/giphy.mp4")
  +Viral
  +divider("03", "Coding", "https://media.giphy.com/media/1uv4CWggzI7te/giphy.mp4", true)
  +Coding
  .plug
    .plug__inner
      p Sorry to break the flow but if you’re enjoying the story I’d really appreciate it if you subscribed to my&nbsp;
        span.ss email newsletter
        | . You'll only hear from me when I have something valuable to share. Just enter your email and tick the checkbox below:
      .plug__inner-notvalid.pinv1 Email not valid. Try again!
      .plug__inner-form
        input(placeholder="example@example.com" name="email" type="email" class="plug__inner-input pii1")
        .plug__inner-submitted.pis1 Thank You! 💖
        .mailCheck.mc1!=icon("mailCheck")
      p Also, I'm writing a book going in-depth on how to execute specific marketing techniques. It's so good I'm calling it an album. It’s going to be the marketing album of the decade. Check it out&nbsp;
        a(href="https://www.themarketingalbum.com" target="_blank").ss here
        | .
      p Anyway, distraction over! I hope you enjoy the rest of the story.
      a.plug__inner-box(href="https://www.themarketingalbum.com" target="_blank")
        img.plug__inner-box-cd(src="https://s3.amazonaws.com/harrydry/cdRom.png", alt="")
        .plug__inner-box-titlebox
          .plug__inner-box-titlebox-title The Marketing Album
          .plug__inner-box-titlebox-title By Harry Dry
  +divider("04", "Launch", "https://media.giphy.com/media/lwthLRpHkx1Xq/giphy.mp4")
  +Launch
  +divider("05", "Reborn", "https://media.giphy.com/media/w6fXHomX8aldS/giphy.mp4")
  +Reborn
  +divider("06", "Billboards", "https://media.giphy.com/media/ORsblt4O8vYKA/giphy.mp4", true )
  +Billboards
  +divider("07", "Yeezy", "https://media.giphy.com/media/l0MYuLUvo8GNRrhss/giphy.mp4")
  +End
  +endPlug()
