extends main

//- Page1
include mixins/addIdea
include mixins/ideaList
include mixins/leaderboard

block content
  .p1
  .bodyContainer
    .ideaListWrapper
      +ideaList()
    .right
      .right__text
        .right__text-title Everyone has startup ideas
        .right__text-title Most are worthless
        .right__text-title Post yours, get honest feedback
        .right__text-subtitle Built by
          a(href="https://www.twitter.com/harrydry" target="_blank")  @harrydry
          |  at
          a(href="https://www.crowdform.co.uk/blog/building-venture-studio/?utm_source=Referral&utm_medium=link&utm_campaign=ideas-are-worthless" target="_blank")  Ourselves
      .bigscreenleaderboard
        +leaderboard()
