extends main
include mixins/divider
include mixins/LeftMenu
include mixins/mobileMenu
include mixins/endPlug

include mixins/Chapters/Idea
include mixins/Chapters/Flashback
include mixins/Chapters/Viral
include mixins/Chapters/Coding
include mixins/Chapters/Launch
include mixins/Chapters/Reborn
include mixins/Chapters/Billboards
include mixins/Chapters/End

block content
  +LeftMenu(true)
  +mobileMenu
  .fresh
    img.fresh__img1(src="https://s3.amazonaws.com/harrydry/ye.jpg", alt="The Kanye Story: By Harry Dry")
    img.fresh__img2(src="https://s3.amazonaws.com/harrydry/harry1.png", alt="Harry 1")
    img.fresh__img1Mob(src="https://s3.amazonaws.com/harrydry/harryMob1.png", alt="Harry 3")
    img.fresh__img2Mob(src="https://s3.amazonaws.com/harrydry/harryMob2.png", alt="Harry 3")
    img.fresh__img3Mob(src="https://s3.amazonaws.com/harrydry/harryMob3.png", alt="Harry 3")
  +divider("01", "Idea", "", false, true)
  +Idea
  //- +Flashback
  +divider("02", "Viral", "https://s3.amazonaws.com/harrydry/steve/steve__02.mp4")
  +Viral
  +divider("03", "Coding", "https://s3.amazonaws.com/harrydry/steve/steve__03.mp4", true)
  +Coding
  +divider("04", "Launch", "https://s3.amazonaws.com/harrydry/steve/steve__04.mp4")
  +Launch
  .plug
    .plug__inner
      p Sorry to break the flow but if you’re enjoying the story I’d really appreciate it if you subscribed to my&nbsp;
        span.ss email newsletter
        | . I write about startups, marketing, the simulation and my man Tyson Fury. Just enter your email and tick the checkbox below:
      .plug__inner-notvalid.pinv1 Email not valid. Try again!
      .plug__inner-form
        input(placeholder="example@example.com" name="email" type="email" class="plug__inner-input pii1")
        .plug__inner-submitted.pis1 Thank You! 💖
        .mailCheck.mc1!=icon("mailCheck")
      p Anyway, distraction over! I hope you enjoy the rest of the story.
  +divider("05", "Reborn", "https://s3.amazonaws.com/harrydry/steve/steve__05.mp4")
  +Reborn
  +divider("06", "Billboards", "https://s3.amazonaws.com/harrydry/steve/steve__06.mp4", true )
  +Billboards
  +divider("07", "Yeezy", "https://s3.amazonaws.com/harrydry/steve/steve__07.mp4")
  +End
  +endPlug()
