extends main

include mixins/leaderboard
include mixins/specific

block content
  .bodyContainer
    .ideaListWrapper
      +specific()
    .bigscreenspec
      .right
        .right__text
          .right__text-title Post your idea
          .right__text-title Eat shit
          .right__text-title Improve
          .right__text-subtitle Built by
            a(href="https://www.twitter.com/harrydry" target="_blank")  @harrydry
            |  at
            a(href="https://www.crowdform.co.uk/blog/building-venture-studio/" target="_blank")  Ourselves
        .bigscreenleaderboard
          +leaderboard()