.p5bodyContainer
  background: #FFF
  padding: 0 17rem 0 19.5rem


.p5Title
  font-family: CamphorStd-Bold
  font-size: 2.2rem
  color: #2170B0
  letter-spacing: 0.058rem
  padding-top: 4.4rem

.p5MonialSection
  display: flex
  justify-content: space-between

.p5MS1
  margin-top: 4.2rem

.p5MS2
  margin-top: 2.8rem
  margin-bottom: 5.1rem

.p5Monial
  background: #FFFFFF
  box-shadow: 0 2px 22px 0 rgba(0,0,0,0.20)
  border-radius: 4px
  width: 28.6rem
  height: 36.7rem
  transition: all 0.3s
  &:hover
    transform: translateY(-0.5px)
    box-shadow: 0 2px 42px 0 rgba(0,0,0,0.20)
    cursor: pointer

  .p5Img
    width: 100%
  .p5TextSection
    padding: 2.1rem 2rem 1.7rem 1.7rem
    .p5Words
      font-family: CamphorStd-Medium
      font-size: 1.6rem
      color: #333132
      line-height: 1.9rem
    .p5Name
      font-family: CamphorStd-Bold
      font-size: 1.6rem
      color: #333132
      margin-top: 4.5rem
    .p5SchoolName
      font-family: CamphorStd-Italic
      font-size: 1.5rem
      color: #333132
      margin-top: .93rem      

