.addidea
  opacity: 0
  margin-top: 2.7rem
  background: white
  border-radius: 6px
  width: 52.1rem
  padding: 2.3rem 2.3rem 2.5rem 2.3rem
  transition: all 0.2s
  @media screen and (max-width: 880px)
    margin-bottom: 64px
    width: 100%
    border-radius: 2px
    padding: 2rem
  &__title
    font-weight: bold
    font-size: 1.8rem
    text-align: center
    color: #333333
  &__form
    margin-top: 1.6rem
    display: flex
    flex-direction: column
    align-items: center
.aiShared
  border: none
  width: 100%
  background: $ib
  border-radius: 0.4rem
  font-size: 1.4rem
  color: $black
  padding: 1rem 2rem 1rem 2rem
  +placeholder
    color: rgba(102,102,102,0.70)

.aiDescInput
  margin-top: 1.9rem
  resize: vertical
  height: 80px

.aiIdeaSubmit
  background: $pink
  border-radius: 2px
  padding: 1rem 3rem
  height: 40px
  font-weight: bold
  font-size: 1.5rem
  color: #FFFFFF
  margin-top: 2.3rem
  border: none
  text-align: center
  transition: all 0.2s
  cursor: pointer
  &:hover
    opacity: 0.8
    transition: all 0.2s

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 30px $ib inset

