@font-face 
  font-family: hnRoman
  src: url("/fonts/HNRoman.woff2") format("woff2")

@font-face 
  font-family: hnItalic
  src: url("/fonts/HNItalic.woff2") format("woff2")

@font-face 
  font-family: hnMedium
  src: url("/fonts/HNMedium.woff2") format("woff2")

@font-face 
  font-family: hnMediumItalic
  src: url("/fonts/HNMediumItalic.woff2") format("woff2")

@font-face 
  font-family: hnBold
  src: url("/fonts/HNBold.woff2") format("woff2")

@font-face 
  font-family: hnBoldItalic
  src: url("/fonts/HNBoldItalic.woff2") format("woff2")

@font-face 
  font-family: hnBoldOutline
  src: url("/fonts/HNBoldOutline.woff2") format("woff2")

body, html
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0
  padding: 0

*, *:before, *:after
  box-sizing: inherit
  outline: none !important

html
  font-size: 10px