html,body
  font-family: "Circular"
  font-size: 10px
  font-weight: 400

.outer
  max-width: 64rem
  margin: 0rem auto

p
  font-size: 2rem
  color: $grey
  line-height: 3.7rem
  padding: 1.7rem 0
  // &:not(:first-of-type)
  //   margin-top: 1.6rem

.speech
  font-size: 2rem
  color: $grey
  line-height: 3.7rem
  &__one
    padding-top: 1.7rem
  &__two
    padding-bottom: 1.7rem

li
  font-size: 2rem
  color: $grey
  list-style: none
  line-height: 3.7rem
  &:first-of-type
    margin-top: 1.6rem

.italic
  font-style: italic

.link
  color: $red
  &:hover
    opacity: 0.9

// Img + Video

.normalWidth
  margin: 5.2rem auto
  border: 1rem solid #ffdddd
  position: relative
  width: 100%


.fullWidth
  border: 1rem solid #ffdddd
  position: relative
  left: 50%
  right: 50%
  margin: 5.2rem -49rem 5.2rem -49rem
  width: 98rem
  &__video
    cursor: pointer
    transition: all 0.2s
    &:hover
      opacity: 0.9
      transition: all 0.2s

.half
  display: flex
  justify-content: center
  margin: 5.2rem auto
  border: 1rem solid #ffdddd
  background-color: #fddddd
  width: min-content
  &__img
    width: 25.8rem
    height: 46rem
  &__video
    width: 25.8rem
    height: 46rem
    cursor: pointer
    transition: all 0.2s
    margin-left: 1.5rem
    &:hover
      opacity: 0.9
      transition: all 0.2s