.divider
  height: 100vh
  background: black
  margin: 14rem 0
  position: relative
  display: flex
  align-items: center
  justify-content: center
  position: relative
  opacity: 1
  &__container
    text-align: center
    z-index: 2
    opacity: 0.9
    &-num
      color: $red
      font-family: Roboto
      font-weight: bold
      font-size: 3rem
    &-text
      color: $white
      font-weight: 600
      font-size: 8rem
      text-transform: uppercase
      letter-spacing: 1rem
      margin-top: 3rem
  &__gif
    position: absolute
    width: 100%
    opacity: 0.3
    height: 100%