header
  background: white
  padding: 0rem 10rem
  .mainHeader
    display: grid
    grid-template-columns: 1fr
    grid-auto-flow: column
    align-items: center
    border-bottom: 3px solid #F1F3F5
    padding: 1.9rem 0
    color: #1F364D
    .logo
      font-size: 2rem
      font-family: CamphorStd-Bold
    .addIdea
      font-size: 3rem
      font-family: CamphorStd-Bold
      margin-right: 2rem
    .twitterImg
      width: 4rem
      height: 4rem
      border-radius: 100px
  .subHeader
    font-family: CamphorStd-Medium
    font-size: 1.8rem
    color: #1F364D
    padding: 1.9rem 0
