.plug
  width: 100%
  position: relative
  background-color: #14233C
  margin-top: 11rem
  @media (max-width: 1200px)
    margin-top: 5rem
  &__inner
    max-width: 64rem
    margin: 0 auto
    padding: 10rem 0
    display: flex
    flex-direction: column
    justify-content: center
    @media (max-width: 1200px)
      padding: 6rem 0
    &-socialContainer
      display: flex
      padding: 1rem 0rem
      align-items: center
      @media (max-width: 1200px)
        padding: 1rem 2rem
      &-twitter
        border: 1px solid transparent
      &-facebook
        margin-left: 1rem
    &-box
      display: flex
      margin: 4rem 0
      align-items: center
      @media (max-width: 1200px)
        padding: 0 2rem
      &-cd
        animation: spinning 6s infinite linear
        width: 10rem
        height: 10rem
        transform-origin: center center
      &-titlebox
        margin-left: 4rem
        &-title
          font-size: 1.9rem
          font-family: Chantal
          color: #fff
          &:last-child
            margin-top: 0.8rem
    p
      color: $plug


.twitter-tweet
  margin: 3.4rem auto !important
  width: 42rem !important
  @media (max-width: 500px)
    width: 93% !important
    padding: 0 2rem !important
    margin: 2rem auto !important


// new mail

.plug__inner-form
  display: flex
  align-items: center
  margin: 2rem 0
  @media (max-width: 1200px)
    margin: 1.6rem 2rem
  &-mobile
    margin: 0
  .plug__inner-input
    border: none
    background-color: transparent
    border-bottom: 2px solid $plugBorder
    font-size: 2rem
    padding: 0.7rem 0
    width: 22rem
    color: $plug
    &-mobile
      width: 20rem
    @media (max-width: 1200px)
      font-size: 1.7rem
      // width: 18rem
    &::placeholder
      color: $plug
      opacity: 0.7
  .plug__inner-submitted
    display: none
    font-size: 1.9rem
    color: #fff
    font-family: Chantal
    @media (max-width: 1200px)
      font-size: 1.6rem

.plug__inner-notvalid
  display: none
  padding: 1rem 0rem 0rem 0rem
  font-size: 1.7rem
  color: $red !important
  font-family: Chantal
  @media (max-width: 1200px)
    padding: 1rem 2rem 0rem 2rem
    font-size: 1.6rem

.mailCheck
  margin-left: 2rem
  cursor: pointer
  .mailCheckSVG
    width: 2.8rem
    @media (max-width: 1200px)
      width: 2.4rem
    & > *
      fill: $plug
      opacity: 0.6
      transition: all 0.2s
  &-mobile
    .mailCheckSVG
      & > *
        fill: white
        opacity: 1

  &:hover
    .mailCheckSVG
      & > *
        fill: $plug
        opacity: 1
        transition: all 0.2s

.mailCheckChecked
  .mailCheckSVG
    & > *
      fill: $red

.divider__05
  margin-top: 0 !important

@keyframes spinning
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)


.twitterSVGPlug
  width: 2.6rem
  & > *
    fill: #4a6178
    // fill: $plug

.facebookSVGPlug
  width: 2.4rem
  & > *
    fill: #4a6178
    // fill: $plug