mixin fixedSection(url1, icon1, url2, icon2, url3, icon3)
  .fixedSection
    .borderTop
    .menu
      h1 #{format(new Date(),'DD.MM.YYYY')}
      .icons
        a(href=url1 target="_blank")!= icon(icon1)
        a(href=url2 target="_blank")!= icon(icon2)
        a(href=url3 target="_blank")!= icon(icon3)