mixin footer(name, email)
  .footerSection
    .newsletter
      .footerMedium Join the #{name} Mail List
      .footerRegular Enter your email below for gig updates
      form(action="/contact" name="contactUs" method="POST" class="emailSubscribeContainer")
        input(placeholder="Email Address" type="text" name="EmailAddress")
        button Subscribe        
    .contact
      .footerMedium 
        | For Bookings Contact 
        span.blueHighlight
          a(href="mailto:TedAddic@gmail.com"  target="_blank" rel="noopener noreferrer" class="animationLine") #{email}
      .infoSection
        .footerRegular © #{name} 2018
        .footerRegular 
          | Website by 
          span.blueHighlight
            a(href="https://twitter.com/kid_sleepy" target="_blank" rel="noopener noreferrer" class="animationLine") WebsitesForMusicians.co