mixin youTubeVideo(ytURL, h2, h3)
  .p2Section
    iframe(class="youtubeVideo" src=`https://www.youtube.com/embed/${ytURL}?rel=0&amp;controls=0&amp;showinfo=0` frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
    h2= h2
    h3= h3