mixin addIdea()
  .addidea
    h1.addidea__title Add an Idea
    form.addidea__form(action="/" method="POST")
      input.aiShared.aiTitleInput(type="text" name="title" placeholder="Enter your idea here")
      textarea.aiShared.aiDescInput(name="desc" placeholder="Write a short description here")
      input.aiIdeaSubmit(type="submit" value="Submit Idea")