mixin endPlug()
  .plug.endPlug
    .plug__inner
      p Thanks for making it all the way to the bottom. If you enjoyed it, it would really mean a lot if you retweeted the tweet below. I spent a while putting this together, so it would be nice if a few people read it:
      blockquote.twitter-tweet(data-cards='hidden', data-lang='en')
        p(lang='en', dir='ltr')
          | 🔥 Finally finished The Kanye Story!
          br
          br
          | It's a story about how I went from lying in bed with no ideas to negotiating with the biggest superstar on planet earth. Take a look 👉🏻
          a(href='https://t.co/7v6vPX55eM') https://t.co/7v6vPX55eM
        | — Harry Dry (@harrydry)
        a(href='https://twitter.com/harrydry/status/1111654068961849346?ref_src=twsrc%5Etfw') March 29, 2019
      script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
      p I have an email newsletter where I write about startups, marketing, the simulation and my man Tyson Fury.
      .plug__inner-notvalid.pinv2 Email not valid. Try again.
      .plug__inner-form
        input(placeholder="example@example.com" name="email" type="email" class="plug__inner-input pii2")
        .plug__inner-submitted.pis2 Thank You! 💖
        .mailCheck.mc2!=icon("mailCheck")
      p And finally, if you're into marketing I currently run two sites called&nbsp;
        a.ss(href="https://marketingexamples.com" target="_blank") Marketing Examples
        |&nbsp;and&nbsp;
        a.ss(href="https://marketingexamples.com/inspiration" target="_blank") Copywriting Examples
        |&nbsp;which you might enjoy.
      //- a.plug__inner-box(href="https://marketingexamples.com" target="_blank")
      //-   img.plug__inner-box-cd(src="https://s3.amazonaws.com/harrydry/cdRom.png", alt="")
      //-   .plug__inner-box-titlebox
      //-     .plug__inner-box-titlebox-title Marketing Examples
      //-     .plug__inner-box-titlebox-title By Harry Dry
      p Thanks again and peace out.

