mixin endPlug()
  .plug.endPlug
    .plug__inner
      p Thanks for making it all the way to the bottom. If you enjoyed it, it would really mean a lot if you retweeted the tweet below. I spent a while putting this together, so it would be nice if a few people read it:
      blockquote.twitter-tweet(data-lang='en')
        p(lang='en', dir='ltr')
          | 🔥 Excited to announce that Refactoring UI is now available!
          br
          br
          | It's everything we know about designing for the web, packed into a single comprehensive resource.
          br
          br
          | Get it during the launch for up to 40% off 👉🏻
          a(href='https://t.co/XmeFrcuJVr') https://t.co/XmeFrcuJVr
        | — Steve Schoger (@steveschoger)
        a(href='https://twitter.com/steveschoger/status/1072484852363083776?ref_src=twsrc%5Etfw') December 11, 2018
      script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
      //- span.plug__inner-socialContainer
      //-   a.plug__inner-socialContainer-twitter(target="_blank" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.thekanyestory.com&via=harrydry&text=The%20Kanye%20Story")!=icon("twitterPlug")
      //-   a.plug__inner-socialContainer-facebook(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//thekanyestory.com")!=icon("facebookPlug")
      p Also, sorry to self promote, but I'm putting together a course going in-depth on how to execute specific marketing techniques. If you're interested in that stuff take a look&nbsp;
        a.ss(href="https://www.good-marketing.com" target="_blank") here
        | .
      a.plug__inner-box(href="https://www.good-marketing.com" target="_blank")
        img.plug__inner-box-cd(src="https://s3.amazonaws.com/harrydry/cdRom.png", alt="")
        .plug__inner-box-titlebox
          .plug__inner-box-titlebox-title The Marketing Album
          .plug__inner-box-titlebox-title By Harry Dry
      p If you'd like to get in touch my email is&nbsp;
        a.ss(href="mailto:harrydry1996@gmail.com" target="_blank") here
        | . And if you'd like to read more of my writing your best bet is to follow me on twitter,&nbsp;
        a.ss(href="https://twitter.com/intent/follow?screen_name=harrydry" target="_blank") @harrydry
        | , or subscribe to my email list:
      .plug__inner-notvalid.pinv2 Email not valid. Try again.
      .plug__inner-form
        input(placeholder="example@example.com" name="email" type="email" class="plug__inner-input pii2")
        .plug__inner-submitted.pis2 Thank You! 💖
        .mailCheck.mc2!=icon("mailCheck")
      p Thanks again and peace out.

