mixin endPlug()
  .plug.endPlug
    .plug__inner
      p Thanks for reading and making it all the way to the bottom. If you enjoyed it, it would really mean a lot if you shared with your friends.
      span.plug__inner-socialContainer
        a.plug__inner-socialContainer-twitter(target="_blank" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.thekanyestory.com&via=harrydry&text=The%20Kanye%20Story")!=icon("twitterPlug")
        a.plug__inner-socialContainer-facebook(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//thekanyestory.com")!=icon("facebookPlug")
      p Any questions feel free to tweet me, &nbsp;
        a.ss(href="https://twitter.com/intent/follow?screen_name=harrydry" target="_blank") @harrydry
        | . The best way to stay up to date is to subscribe to my email list:
      .plug__inner-notvalid.pinv2 Email not valid. Try again!
      .plug__inner-form
        input(placeholder="example@example.com" name="email" type="email" class="plug__inner-input pii2")
        .plug__inner-submitted.pis2 Thank You! 💖
        .mailCheck.mc2!=icon("mailCheck")
      p And there's always the&nbsp;
        a.ss(href="www.bbcsport.com" target="_blank") marketing album
        | &nbsp;if that floats your boat.
      a.plug__inner-box(href="https://harrydry.com" target="_blank")
        img.plug__inner-box-cd(src="https://s3.amazonaws.com/harrydry/cdRom.png", alt="")
        .plug__inner-box-titlebox
          .plug__inner-box-titlebox-title The Marketing Album
          .plug__inner-box-titlebox-title By Harry Dry

