mixin header()
  header
    .header__inner
      a(href="/" class="logo") Ideas are Worthless
      .header__right
        if (!user)
          a(href="/auth/twitter").header__right-button Log in with Twitter
        else
          .header__right-button.hrb__active ADD YOUR IDEA
          img.twitterImg(src=`${user.profileImg}` alt="Image Title")
          .leaderboard__user-pill.header__pill
            span 🔥
            .leaderboard__user-pill-votes=user.upvotes