mixin LeftMenu(mobile)
  - var leftMenu = mobile ? "leftmenu" : "mobilemenu__inner"
  div(class=`${leftMenu}`)
    .leftmenu__item.lm001
      span.leftmenu__item-num 01
      span.leftmenu__item-text Idea
    .leftmenu__item.lm002
      span.leftmenu__item-num 02
      span.leftmenu__item-text Viral
    .leftmenu__item.lm003
      span.leftmenu__item-num 03
      span.leftmenu__item-text Coding
    .leftmenu__item.lm004
      span.leftmenu__item-num 04
      span.leftmenu__item-text Launch
    .leftmenu__item.lm005
      span.leftmenu__item-num 05
      span.leftmenu__item-text Reborn
    //- .leftmenu__item.lm006
    //-   span.leftmenu__item-num 06
    //-   span.leftmenu__item-text Reborn
    .leftmenu__item.lm006
      span.leftmenu__item-num 06
      span.leftmenu__item-text Billboards
    .leftmenu__item.lm007
      span.leftmenu__item-num 07
      span.leftmenu__item-text Yeezy