mixin nav()
  .nav
    if (user)
      .nav__left
        img.twitterImg(src=`${user.profileImg}` alt="Image Title")
        .leaderboard__user-pill.header__pill
          span 🔥
          .leaderboard__user-pill-votes=user.upvotes
      .nav__right
        .header__right-button.hrb__active Add your idea
    else
      .loggedout
        a(href="/auth/twitter").header__right-button Log in with Twitter