mixin mailchimp()
  .mailchimp  
    .mailchimp__title 📧 Subscribe for weekly updates.
    .mailchimp__subtitle 4 of the best ideas and the one worst.
    .mailchimp_inner
      form#mc-embedded-subscribe-form.validate(action='https://crowdform.us14.list-manage.com/subscribe/post?u=ec2caeb4eef5ec5e36e3867d9&id=1cdd020200', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="you@badidea.com")
          #mce-responses.clear
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_ec2caeb4eef5ec5e36e3867d9_1cdd020200', tabindex='-1', value='')
          .clear
          button#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe') Subscribe
            
