mixin ph()
  a.ph(href="https://www.producthunt.com/posts/ideas-are-worthless" target="_blank")
    .confett!= icon('confett')
    p We're live on Product Hunt right now
    .confett!= icon('confett')
