mixin video(video, poster)
  video(src=`https://s3.amazonaws.com/harrydry/${video}.mp4` preload="metadata" class="normalWidth normalWidth__video" poster=`https://s3.amazonaws.com/harrydry/${poster}` onclick="this.paused ? this.play() : this.pause();")