.p6bodyContainer
  background: #F8F9FB
  padding: 0 8.3rem
  @media screen and (max-width: 1050px)
    padding: 0 5.5rem

.p6Title
  font-family: CamphorStd-Medium
  font-size: 3.6rem
  color: #333132
  padding-top: 4.4rem

.p6Subtitle
  font-family: CamphorStd-Regular
  font-size: 2.4rem
  color: #525F7F
  line-height: 3.6rem
  padding-top: 2.6rem
  width: 100rem

.blogImg1
  background-image: url("https://s3.eu-west-2.amazonaws.com/maximizeyp/blog/MaxBlog1a.jpg")

.blogImg2
  background-image: url("https://s3.eu-west-2.amazonaws.com/maximizeyp/blog/MaxBlog2a.jpg")
  @media screen and (max-width: 870px)
      display: none 

.blogImg3
  background-image: url("https://s3.eu-west-2.amazonaws.com/maximizeyp/blog/MaxBlog3a.jpg")

.blogImg4
  background-image: url("https://s3.eu-west-2.amazonaws.com/maximizeyp/blog/MaxBlog4a.jpg")

.p6BlogSection
  display: flex
  justify-content: space-between
  padding: 4.4rem 0 8rem 0
  .p6Blog
    width: 27.7vw    
    height: 42.6vw
    padding: 0 2.6rem 3.3rem 2.6rem
    position: relative
    cursor: pointer
    transition: all .5s
    background-size: cover
    @media screen and (max-width: 1210px)
      width: 27.1vw
      height: 41.7vw  
    @media screen and (max-width: 1050px)
      width: 28.2vw
      height: 43.5vw
    @media screen and (max-width: 870px)
      width: 43vw     
    .p6BlogOverlay
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(180deg,transparent 70%,#333132)
    .p6BlogTitleNameSection
      bottom: -2.8rem      
      position: absolute
      transition: all .5s cubic-bezier(.18,.89,.32,1.28)
      .p6BlogTitle
        font-family: CamphorStd-Bold
        font-size: 2.4rem
        color: #FFFFFF
        line-height: 2.8rem
        width: 23rem
      .p6BlogName
        font-family: CamphorStd-Heavy
        font-size: 1.2rem
        color: #B2B2B2
        letter-spacing: 0.04rem
        padding-top: 1.35rem
      .p6ReadSection
        margin-top: 4.5rem
        display: flex
        .p6Read
          font-family: CamphorStd-Bold
          font-size: 1.3rem
          color: #FFFFFF
          letter-spacing: 0.065rem
          margin-right: 0.8rem
        .p6Arrow
          width: 2.4rem
          height: 0.9rem
          transform: translateY(0.1rem)

.hoverenterOpacity
  opacity: 0.45 !important

.p6HoverUp .p6BlogTitleNameSection
  transform: translateY(-5.8rem)
