.blogBodyContainer
  background: #fefefe
  font-size: 10px
  @media screen and (max-width: 1120px)
    font-size: 9.5px
  @media screen and (max-width: 525px)
    font-size: 8.5px

// Header Section
.blogHeader
  height: 49em
  padding: 4.8em 8.3em 4.8em 8.3em
  position: relative
  @media screen and (max-width: 1120px)
    padding: 4.8em 4.3em
  @media screen and (max-width: 525px)
    padding: 4.8em 0em

.adjustment525
  @media screen and (max-width: 525px)
    padding-left: 3em !important



.blogTitleContainer
  width: 100%
  display: flex
  justify-content: center
  flex-wrap: wrap
  background: radial-gradient(hsla(330, 2%, 20, 0.7) 0%, transparent 90%)
  padding: 2em 0

.blogNormaliserB1
  margin-top: 10em  

.blogNormaliserB2
  margin-top: 7em

.blogTitle
  font-family: FreightBold
  font-size: 6.2em
  color: #FFF
  width: 65rem
  text-align: center
  line-height: 1.05em
  margin: 0 2.42em 
  font-weight: 700
  @media screen and (max-width: 950px)
    margin: 0 1em
  @media screen and (max-width: 760px)
    font-size: 4.4em 
  @media screen and (max-width: 500px)
    margin: 0em

.blogSubtitle
  font-size: 1.7em
  font-family: CamphorStd-Heavy
  color: #FFF
  margin-top: 1.94em
  @media screen and (max-width: 760px)
    font-size: 1.6em   
  
// Blog Body Section

.blogBodyWrapper
  padding: 8rem 25rem 0 25rem
  @media screen and (max-width: 960px)
    padding: 6rem 4.3rem 0 4.3rem  
  @media screen and (max-width: 654px)
    padding: 4rem 3rem 0 3rem  
  .ender
    margin-top: 1.8em
  .shortShift
    margin-top: 0.5em !important

// 2 tiers of Blog
.pBlogBody
  font-size: 2em
  color: #8a8989
  font-family: CamphorStd-Regular
  line-height: 1.35em
  margin-top: 1em  
  img
    width: 100%

.pBlogBiggerBody
  font-size: 2.5em
  color: #333132
  font-family: CamphorStd-Bold
  line-height: 1.08em
  margin-top: 0.8em  

// Email Section

.blogContactInnerSection
  padding: 8em 4em
  +flexed
  .marr
    margin-right: 3em
    @media screen and (max-width: 500px)
      margin-right: 1.5em

.blogContact
  font-size: 1.5em
  font-family: CamphorStd-Bold
  color: #0a0a0a
  letter-spacing: 0.1rem
  margin-right: 0.66em
  +flexed

.blogContactEmail
  width: 8.53em
  height: 2.66em
  background: rgba(178, 178, 178, 0.2)
  border-radius: 6.66em
  color: rgb(128, 128, 128)
  cursor: pointer
  transition: all 0.3s 
  &:hover
    color: #fff
    background: #333132
  
// Adjusting the Reset

p
  a
    color: #2170B0

ol, ul
  padding-left: 5rem !important

.blogBoldened
  font-family: CamphorStd-HeavyItalic

.blogHeader1
  background: url("https://s3.eu-west-2.amazonaws.com/maximizeyp/newBlog/NewBlogImg2Wide.jpg")
  background-size: cover
  background-position: center
  width: 100%
  
.blogHeader2
  background: url("https://s3.eu-west-2.amazonaws.com/maximizeyp/newBlog/newBlogImg3Wide.jpg")
  background-size: cover
  background-position: center
  width: 100%
  
.blogHeader3
  background: url("https://s3.eu-west-2.amazonaws.com/maximizeyp/newBlog/MaxBlog1WideTravis.jpg")
  background-size: cover
  background-position: center
  width: 100%

