table(class="table__footer")
  tr
    td(colspan="2")
      h3 Let's be friends 👋
  tr
    td(colspan="2")
      a(href="https://www.facebook.com/andco.life/" class="social-logo")
        img(src="https://andco.ams3.digitaloceanspaces.com/common/emails/facebook-logo.png")
      a(href="https://www.instagram.com/andco.life/?hl=en" class="social-logo")
        img(src="https://andco.ams3.digitaloceanspaces.com/common/emails/instagram-logo.png")
      a(href="https://twitter.com/AndCoLife" class="social-logo")
        img(src="https://andco.ams3.digitaloceanspaces.com/common/emails/twitter-logo.png")
  tr
    td(align="center" class="x-gmail-data-detectors")
      tr
        td(colspan="2")
          hr(class="bottom top")
      tr(class="table__footer-meta")
        td(class="table__footer--left")
          p.note Need help? Speak to us on
            a(href="mailto:hello@andco.life")
             | hello@andco.life
        td(class="table__footer--right")
          p.note Search spaces at
            a(href="http://www.andco.life/search")
              | andco.life/search
      tr
        td(colspan="2")
          div(class="table__footer-address")
            | AndCo Limited, 2nd Floor, Gosfield Street, London, W1W 6HL
          a(style="color:#888888; text-decoration: none;")
            unsubscribe
      tr
        td(colspan="2")
          div(class="table__footer-credit")
            a(href="http://www.andco.life/account/rewards" style="text-decoration:none;") Earn Credit