table(class="table__header")
  tr
    td(style="padding: 20px 0 0 0; text-align: center;")
      a(href="https://ideasareworthless.io/")
        img(
          src="https://s3.eu-west-2.amazonaws.com/maximizeyp/emaillogo.png"
          class="header__logo"
          alt="Ideas Aren Worthless"
          )
  tr(class="header-title")
    td
      h1
        block title
      hr(class="bottom top")
