doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="x-apple-disable-message-reformatting")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    link(rel="stylesheet", href="css/main.css", data-inline)
  body
    table(class="container content-container")
      tr
        td
        td(class="header container")
          div(style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;")
          div(class="content")
            include includes/head.pug
    table
      tr
        td
        td(class="container content-container", bgcolor="#FFFFFF", style="border-radius: 3px;")
          div(class="content__body")
            table
              tr
                td
                  block content