extends ../../master.pug
block title
  div #{title} 
  div just got a comment 🎉🔥
block content
  p Congratulations. Maybe it isn't worthless after all ...
  b "#{comment}"
  p from @#{commentAuthor}
  a.button.button--large(href=`https://ideasareworthless.io/${link}` target="_blank")
    | Comment Back
